/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   @import url(https://fonts.googleapis.com/css?family=Teko:300,400,500,600);

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
   
   
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   html,body{ 
       width:100%;
       height:100%;
       background:#000;
   }
   
    body {
   
     background:  rgb(20, 28, 31);
     
   }
   
   /* remove canvas default margin */
   canvas{
       display:block;
       vertical-align:bottom;
   }
   
   #particles-js{
       width:100%;
       height:100%;
   }
   
   
  .text-2 h4{
   top: 50%;
   left: 50%;
   font-weight: 510;
   color: crimson;
    font-size: 30px;
    letter-spacing: 4px;
   text-transform: uppercase;
   }
   *{box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:"Encode Sans Expanded",sans-serif;
    text-decoration: none;
    
}

.container
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}
.navabar
{
    z-index: 999;
    background:none;
    position: fixed;
    padding: 15px 0 ;
    width: 100%;
    font-family: "Encode Sans Expanded",sans-serif;
    transition: all 0.3s ease;

}
.navabar.sticky
{
    padding: 15px 0;
    background: #181d12b0;

}
.navabar .max-width
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.navabar .log a
{
    color: rgb(255, 255, 255);
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    text-decoration: none;
}
.home
{
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.home .max-width
{
    margin: auto 0 auto 40px;
}

.home .home-content .text-2
{
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
}

.home .home-content a
{
    display: inline-block;
    background: #CFD11A;
    text-decoration: none;
    color: rgb(28, 39, 43);
    font-size: 1.2rem;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #CFD11A;
    transition: all 0.3s ease;
}
.home.sticky .home-content a
{
    background: crimson;
    border: 2px solid crimson;
    color: rgb(255, 255, 255);
}
.home .home-content a:hover
{
    color: rgb(255, 255, 255);
    background: none;
}

@media (max-width:440px){
 
.menu-btn
{
    display: block;
    z-index: 999;
}
.menu-btn i.active::before
{
 content: "\f00d";   
 color: rgb(255, 255, 255);
}
.navabar .menu
{
    position: fixed;
    height: 100%;
    width: 70%;
    right: -100%;
    top: 0;
    
    background: #181d12f1;
    text-align: center;
    padding-top: 100px;
    transition: all 0.3s ease;
    
}
.navabar .menu.active
{
    right: 0;
}
.navabar .menu li
 {
     display: block;
   
     
 }
 
.navabar .menu li a:hover
{
    color: crimson;
}
.home .home-content .text-2
{
    font-size: 20px;
    font-weight: 500;
   
}
.home .home-content .text-3 
{  
    font-size: 2rem;
    
}
.home .home-content .text-3 span
{
    font-size: 2rem;
   
}
}