@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #f2f2f2;
}
nav{
  z-index: 999;
  width: 100%;
  background: #1b1b1b;
  position: fixed;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav .logo img{
  top: 10px;
  position: relative;
  height: 35px;
  width: auto;
 
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: #fff;
  border-radius: 5px;
  background: #034748;
  /* box-shadow:  0 0 5px #034748,
               0 0 10px #034748; */
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid #034748;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
/* --------------------------about------------------------------- */

section
{
    padding: 100px 0;
}
.about ,.events  ,.contact,footer
{
    font-family: 'poppins',sans-serif;
}
.about .about-content,
.events .event-content,
.contact .contact-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}   

.about
{
    
    background: rgb(255, 255, 255);

}
section .tittle
{
    position: relative;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "ubuntu", sans-serif;
    font-size: 40px;
}
section .tittle::before
{
    content: "";
    position: absolute;
   bottom: 0px;
   left: 50%;
    width: 180px;
    height:3px;
    background: #111;
    transform: translateX(-50%);
}
section .tittle::after
{
    position: absolute;
    bottom: -10px;
    left: 50%;
    padding: 3px;
    font-size: 20px;
    color: crimson;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}
.about .tittle::after
{
  content:"who i am " ;   
}
.about .about-content .left
{
    width: 45%;
}
.about .about-content .left img
{
    left: 0;
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right
{
    width: 55%;
}
.about .about-content .right .text
{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right p
{
text-align: justify;
}
/* ---------------------------------events------------------------- */


.container {
  
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}


.item-container {
  position: relative;
  margin: 18px;
  width: 320px;
  height: 570px;
 
  overflow: hidden;
  background-color: #f2f2f2;
  border-radius: 15px;
  box-shadow: 0 0 35px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.img-container,
.body-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
}

.body-container {
  position: relative;
}

.overlay {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(24, 83, 122, 0.6);
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
  opacity: 1;
  height: 150px;
}

.event-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.title,
.price {
  color: #18537a;
  font-size: 18px;
  font-family: 'ubuntu',sans-serif;
  font-weight: bold;
  margin: 12px;
}
.price {
  letter-spacing: 2px;
}


.info {
  color: #000;
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}

.separator {
  width: 20%;
  height: 6px;
  background-color: #17537a;
  margin-bottom: 16px;
}

.additional-info {
  border-top: 1px solid #bbb;
  margin-top: 12px;
  padding: 28px;
  padding-bottom: 0;
}

.additional-info .info {
  font-size: 0.9em;
  font-family: 'ubuntu',sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

.info i {
  color: #18537a;
  font-size: 1.1em;
  margin-right: 4px;
}

.info span {
  color: #18537a;
  font-weight: bolder;
}

.action {
  color: crimson;
  border: 2px solid crimson;
  background-color: transparent;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
  top: 50px;
}

.action:hover {
  color: #fff;
  border-radius: 8px;
  font-weight: 400;
  border:2px solid #fff;
  /* background-color: rgba(220, 20, 60, 0.712); */
}


/* -----------------------------about-------------------------------- */
@media all and (max-width: 661px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: #034748;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }

.content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-size: 30px;
  font-weight: 500;
}

/* ----------------------ab0ut-------------------------- */
.about .about-content .column
    {
        width: 100%;
    }
    
    .about .about-content .left
    {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content  .right
    {
        flex: 100%;
    }
    .service .service-content .card
    {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    /* ----------------Events------------------ */
    
}